<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/stylepro.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="notices">
            <a href=""> <span class="btn-content"><span class="btn-top"></span></span></a>[GIÁ SỐC 10.10] Galaxy A05 chỉ còn 2.49 triệu<button> Săn ngay</button>
        </div>


        <nav>
            <div class="container">
                <ul style="margin-bottom:0;margin-top:0">
                    <li><a style="text-decoration:none" href="http://localhost:64845/Home/Trangchu"><img style="width:300px" src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.15752-9/385409194_1330012331214651_2442446163150876568_n.png?_nc_cat=104&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=hmN5DEXBA70AX-cChca&_nc_ht=scontent.fsgn2-5.fna&oh=03_AdTj3xAMU3JJjSec84QtTVpaB6nr5hyxE2-Rbk41Od9AIQ&oe=654F6C99" alt="" /></a></li>
                    <li><input type="text" name="tt" id="ttct" placeholder="Nhập điện thoại,tên máy, phụ kiện... cần tìm" /><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><a href="#"><div class="base-ic"><i class="fa-solid fa-file-lines"></i></div><span>Thông tin hay</span></a></li>
                    <li><a href="#"><div class="base-ic"><i class="fa-solid fa-file-invoice-dollar"></i></div><span>Thanh toán tiện ích</span></a></li>
                    <li id="account-form">
                        <a href="#"><div class="base-ic"><i class="fa-solid fa-circle-user"></i></div><span>Tài khoản của tôi</span></a>
                        <div class="account-form">
                            <div class="account-form-content">
                                <h2>Đăng nhập hoặc tạo tài khoản<a href=""><span id="account-close">X</span></a></h2>
                                <form action="">
                                    <img src=" https://fptshop.com.vn/Content/v5d/account/images/img-login-mb.png" alt=" Nhập số điện thoại" width="156" height="156" /><br />
                                    <p>Nhập số điện thoại mua hàng để thưởng đặc quyền riêng tại FPT Shop</p>
                                    <input tyle="text" name="sdt" id="dt" placeholder="Nhập số điện thoại"><br />
                                    <button>Tiếp tục</button>
                                </form>
                            </div>
                        </div>
                    </li>

                    <li><a href=""><div class="base-ic"><i class="fa-solid fa-cart-shopping"></i></div><span>Giỏ hàng</span></a></li>
                </ul>
            </div>
        </nav>
        <section class="menu-bar">
            <div class="container">
                <div class="menu-bar-content">
                    <ul style="margin-top:0;margin-bottom:0">
                        <li>
                            <a href=""><i class="fa-solid fa-mobile"></i>ĐIỆN THOẠI</a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <p>HÀNG SẢN XUẤT</p>
                                    </li>
                                    <li><a href="">Apple(Iphone)</a></li>
                                    <li><a href="">Xiaomi</a></li>
                                    <li><a href="">Vivo</a></li>
                                    <li><a href="">Nokia</a></li>
                                    <li><a href="">Samsung</a></li>
                                    <li><a href="">Readme</a></li>
                                    <li><a href="">Asus</a></li>
                                    <li><a href="">Oppo</a></li>
                                    <li><a href="">Honnor</a></li>
                                    <li><a href="">Masstel</a>
                                    <li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-laptop"></i>LAPTOP</a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <p>HÀNG SẢN XUẤT</p>
                                    </li>
                                    <li><a href="">Apple(MacBook)</a></li>
                                    <li><a href="">Lenovo</a></li>
                                    <li><a href="">Dell</a></li>
                                    <li><a href="">LG</a></li>
                                    <li><a href="">Microsoft(Surface)</a></li>
                                    <li><a href="">Acer</a></li>
                                    <li><a href="">Asus</a></li>
                                    <li><a href="">Gigabyte</a></li>
                                    <li><a href="">HP</a></li>
                                    <li><a href="">Masstel</a>
                                    <li>

                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href=""><i class="fa-solid fa-tablet-screen-button"></i> MÁY TÍNH BẢNG</a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <p>HÀNG SẢN XUẤT</p>
                                    </li>
                                    <li><a href="">Apple(Ipad)</a></li>
                                    <li><a href="">Lenovo</a></li>
                                    <li><a href="">Coolpad</a></li>
                                    <li><a href="">Xiaomi</a></li>
                                    <li><a href="">Samsung</a></li>
                                    <li><a href="">Oppo</a></li>
                                    <li><a href="">Masstel</a>
                                    <li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-apple"></i>APPLE</a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <p>CÁC SẢN PHẨM APPLE</p>
                                    </li>
                                    <li><a href="">Iphone</a></li>
                                    <li><a href="">Apple Watch</a></li>
                                    <li><a href="">Mac mini</a></li>
                                    <li><a href="">Apple TV</a></li>
                                    <li><a href="">AirTag</a></li>
                                    <li><a href="">Ipad</a></li>
                                    <li><a href="">Apple tai nghe</a></li>
                                    <li><a href="">Sạc & Cáp</a></li>
                                    <li><a href="">Chuột & Trackpad</a></li>
                                    <li><a href="">Hàng dự án</a>
                                    <li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-computer"></i>PC-LINH KIỆN</a>
                            <div class="submenu">
                                <ul>

                                    <li><a href="">PC</a></li>
                                    <li><a href="">Linh kiện</a></li>
                                    <li><a href="">Màn hình</a></li>


                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-headphones"></i>PHỤ KIỆN</a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <p>CÁC SẢN PHẨM PHỤ KIỆN</p>
                                    </li>
                                    <li><a href="">Router</a></li>
                                    <li><a href="">Thẻ nhớ </a></li>
                                    <li><a href="">Loa</a></li>
                                    <li><a href="">Tai nghe</a></li>
                                    <li><a href="">Balo-Túi xách</a></li>
                                    <li><a href="">Phụ kiện khẩu trang lọc khí</a></li>
                                    <li><a href="">Bao da ốp lưng</a></li>
                                    <li><a href="">Phụ kiện Apple</a></li>
                                    <li><a href="">USB-Ổ cứng</a></li>
                                    <li><a href="">Chuột</a>
                                    <li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-rotate-right"></i>MÁY CŨ GIÁ RẺ</a>
                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-house"></i>HÀNG GIA DỤNG</a>

                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-sim-card"></i>SIM & THẺ</a>

                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-percent"></i>KHUYẾN MÃI</a>
                            <div class="submenu">
                                <ul>

                                    <li><a href="">Thông tin trao thưởng</a></li>
                                    <li><a href="">Tất cả khuyến mãi</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="header">
        <div class="container">
            <div class="header1">
                <ul>
                    <li><a href="http://localhost:64845/Home/Trangchu" title="Trang chu">Trang chủ</a></li>
                    <li><a href="/dienthoai" title="điện thoại">/Điện thoại</a></li>
                    <li><a href="/dienthoai/iphone" title="iphone">/Apple(Iphone)</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slider1">
        <div class="container">
            <div class="slider-content-1">
                <div class=slider-content-1-name>
                    <h2>iPhone 14 ProMax 128GB</h2>
                    <ul>
                        <li><a href="">99+ Đánh giá</a></li>
                        <li><a href="">1915 Đánh giá</a></li>
                        
                    </ul>
                  
                </div>
            </div>
        </div>
    </div>
    <section class="formlogin">
        <form>
            <div class="step step-1 active">
                <h2>Mã xác nhận<a href=""><span id="account-close">X</span></a></h2>
                
                    <img src=" https://fptshop.com.vn/Content/v5d/account/images/img-otp.png" alt="Mã xác nhập" width="156" height="156" /><br />
                    <p>NMã OTP đã được gửi đến số điện thoại <span class="lg-phone-step2"></span> </p>
                    <p>Thời gian mã OTP hiệu dụng <span class="time"></span></p>
                    <div class="into">
                        <input tyle="text" name="sdt" id="dt" placeholder="" maxlength="1"><br />
                        <input tyle="text" name="sdt" id="dt" placeholder="" maxlength="1"><br />
                        <input tyle="text" name="sdt" id="dt" placeholder="" maxlength="1"><br />
                        <input tyle="text" name="sdt" id="dt" placeholder="" maxlength="1"><br />
                        <input tyle="text" name="sdt" id="dt" placeholder="" maxlength="1"><br />
                        <input tyle="text" name="sdt" id="dt" placeholder="" maxlength="1"><br />
                    </div>

                    <button class="next-page">Tiếp tục</button>
            </div>
        </form>
       
           
    </section>
    <script src="~/JavaScript.js"></script>
    <div>
        @RenderBody()
    </div>
</body>
</html>
