body {
    margin: 0 ;
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,Arial, Helvetica, sans-serif;
}
.header {
    align-items: center;
}

.notices {
    text-align: center;
    color: red;
    font-weight: bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.container {
    max-width: 1300px;
    margin: 0 auto;
}

.btn-content {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
    display: inline-block;
}

.btn-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: red;
    display: block;
    pointer-events: none;
    animation: bt1 0.5s linear infinite;
    display: inline-block;
}

@keyframes bt1 {
    from {
        opacity: 0.5;
    }

    to {
        transform: scale(3);
        opacity: 0;
    }
}

nav {
    background-color: #CD1818;
}

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        nav ul li a {
            color: white;
            font-size: 14px;
        }

        nav ul li:nth-child(2) {
            position: relative;
        }

            nav ul li:nth-child(2) input {
                height: 40px;
                width: 400px;
                border-radius: 10px;
                border: none;
                padding-left: 6px;
                outline: none;
            }

            nav ul li:nth-child(2) i {
                position: absolute;
                font-size: 15px;
                right: 12px;
                color: grey;
                line-height: 45px;
                cursor: pointer;
            }

        nav ul li:nth-child(3) {
            text-align: center;
        }

            nav ul li:nth-child(3) i {
                font-size: 25px;
            }

        nav ul li:nth-child(4) {
            text-align: center;
        }

            nav ul li:nth-child(4) i {
                font-size: 25px;
            }

        nav ul li:nth-child(5) {
            text-align: center;
        }

            nav ul li:nth-child(5) i {
                font-size: 25px;
            }

        nav ul li:nth-child(6) {
            text-align: center;
        }

            nav ul li:nth-child(6) i {
                font-size: 25px;
            }

.menu-bar {
    background-color: #252525;
    padding: 0px 80px;
}

.menu-bar-content ul {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.menu-bar-content > ul > li {
    transition: all 0.3s ease;
}

.menu-bar ul li a {
    font-size: 12px;
    color: white;
}

    .menu-bar ul li a i {
        margin-right: 3px;
        font-size: 12px;
    }

.menu-bar ul li {
    padding: 12px 0;
}

    .menu-bar ul li:hover {
        background-color: #252525;
    }

    .menu-bar ul li a:hover {
        color: dimgrey;
    }
/*.........form.............*/
.account-form {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    z-index: 999;
}

.account-form-content {
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
}

    .account-form-content form {
        padding: 0 40px;
    }

    .account-form-content h2 {
        font-size: 20px;
        padding: 12px 0;
        position: relative;
        border-bottom: 1px solid #ddd;
    }

        .account-form-content h2 span {
            display: block;
            position: absolute;
            height: 60px;
            padding: 0 6px;
            right: 12px;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
            line-height: 30px;
            color: #ddd;
        }

    .account-form-content form input {
        height: 40px;
        width: 100%;
        display: block;
        border-radius: 5px;
        margin-top: 20px;
        border: 1px solid #ddd;
    }

    .account-form-content form button {
        margin-top: 10px;
        height: 40px;
        width: 80%;
        cursor: pointer;
        background-color: #CB1C22;
        outline: none;
        border: none;
        color: white;
        border-radius: 5px;
    }
/*.......submenu.............*/
.menu-bar-content ul li {
    position: relative;
}

.submenu {
    position: absolute;
    background-color: whitesmoke;
    width: 300px;
    height: auto;
    left: 0;
    margin-top: 10px;
    padding: 12px;
    display: none;
    z-index: 10;
}

    .submenu ul {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

        .submenu ul li {
            padding: 6px 0;
        }

            .submenu ul li:hover a {
                color: black;
            }

            .submenu ul li:hover {
                background: none;
            }


            .submenu ul li a {
                color: dimgrey;
            }

.menu-bar ul li:hover .submenu {
    display: block;
}
.header1 ul {
    display: flex;
 
   
}
    .header1 ul li {
        padding: 5px;
     
    }
.slider-content-1-name {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom:15px;
    margin-bottom:15px;
   
}
    .slider-content-1-name ul {
        display: flex; 
    }
.product-phone-content{
    display: flex;
   
}
