
@{
    ViewBag.Title = "TrangThongTin";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/stylepro.css" rel="stylesheet" />
    <link href="http://localhost:64845/Home/Trangchu" rel="icon" />
}

<h2>TrangThongTin</h2>

